# Logs
logs/
*.log

# Virtual environments
venv/
.env 

# Python cache
__pycache__/
*.pyc

# IDE/project files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

#info
info_json/
chromedriver-win64/
outputs/